<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}, Gotta catch 'em all!
  </h1>
</div>

<div>
  <label for="search">Name of Pokemon</label>
  <input #search type="text" name="search" (keyup)=onType(search.value) >
  <button (click)="submit()">Who's that pokemon?!?</button>
</div>

<div *ngIf="results.name; else noSearch">
  <app-display-pokemon [pokemon]="results"></app-display-pokemon>
</div>

<ng-template #noSearch>
  <h1>Search the name of your favorite pokemon to learn more about it!!!</h1>
</ng-template>


